<div class="vd-wrapper__footer">
    <div class="vd-footer">
        <div class="vd-container">
            <div class="vd-footer__container">
                <div class="vd-footer__social">
                    Follow us: Instagram, Youtube
                </div>
                <div class="vd-footer__nav" hidden>
                    <a class="vd-footer__item">Event</a>
                    <a class="vd-footer__item">Event</a>
                    <a class="vd-footer__item">Event</a>
                    <a class="vd-footer__item">Event</a>
                    <a class="vd-footer__item">Event</a>
                </div>
                <div class="vd-footer__brand">
                    <div class="vd-footer__logo">Vijadh</div>
                    <div class="vd-footer__caption">The perfect Couple in Love. We'll put new pictures and videos from our life. Explore and Share this Love with everyone you know.</div>
                </div>
            </div>
        </div>
    </div>
</div>