<div class="vd-section vd-spacer" id="vipic" data-menu-title="ViPic">
    <div class="vd-containe">
        <div class="vd-section__header">
            <div class="vd-section__headline">ViPic</div>
            <div class="vd-section__desc">Videos and Pictures of our life events</div>
        </div>
        <div class="vd-section__block">
            <div class="vd-section__main">
                <div class="vd-section__paper">
                    <div class="vd-section__title">Our engagement</div>
                    <div class="vd-section__mark">22 April</div>
                    <div class="vd-section__caption">An engagement is one of the most important events in life. We hope that you enjoyed our collection of happy, romantic, funny and cute engagement. All of us celebrate this memorable occasion in our own unique ways. Inspire the foundation of a successful marriage.</div>
                    <div class="vd-section__list">
                        <div class="vd-section__item vd-section__item--active"><a>Couple</a></div>
                        <div class="vd-section__item"><a>People</a></div>
                        <div class="vd-section__item"><a>Hall</a></div>
                        <div class="vd-section__item"><a>Dining</a></div>
                    </div>
                </div>
            </div>
            <div class="vd-section__aside">
                 <div class="vd-vipics">
                    <div class="vd-vipics__block">
                        <div class="vd-vipics__header">
                            <div class="vd-vipics__title">Videos</div>
                            <div class="vd-vipics__nav">
                                <div class="vd-vipics__prev"><</div>
                                <div class="vd-vipics__next">></div>
                            </div>
                        </div>
                        <div class="vd-vipics__content">
                            <div class="vd-vipics__list">
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img1.jpg"/></div>
                                            <div class="vd-vipic__title">Dive</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img6.jpg"/></div>
                                            <div class="vd-vipic__title">Done</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img5.jpg"/></div>
                                            <div class="vd-vipic__title">Does</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vd-vipics__block">
                        <div class="vd-vipics__header">
                            <div class="vd-vipics__title">Pictures</div>
                            <div class="vd-vipics__nav">
                                <div class="vd-vipics__prev"><</div>
                                <div class="vd-vipics__next">></div>
                            </div>
                        </div>
                        <div class="vd-vipics__content">
                            <div class="vd-vipics__list">
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img2.jpg"/></div>
                                            <div class="vd-vipic__title">Dive</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img3.jpg"/></div>
                                            <div class="vd-vipic__title">Done</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img4.jpg"/></div>
                                            <div class="vd-vipic__title">Does</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>