<div class="vd-section vd-spacer" id="vipic" data-menu-title="ViPic">
    <div class="vd-section__container">
        <div class="vd-section__header">
            <div class="vd-section__headline">ViPic</div>
            <div class="vd-section__desc">Videos and Pictures of our life events</div>
        </div>

        {% for dataVP in site.data.vipic %}
        <div class="vd-section__block" id="{{ dataVP.module }}">
            <div class="vd-section__main">
                <div class="vd-section__paper">
                    <div class="vd-section__title">{{ dataVP.title }}</div>
                    <div class="vd-section__mark">{{ dataVP.mark }}</div>
                    <div class="vd-section__caption">{{ dataVP.caption }}</div>
                    <!-- <div class="vd-section__list">
                        <div class="vd-section__item vd-section__item--active"><a>Couple</a></div>
                        <div class="vd-section__item"><a>People</a></div>
                        <div class="vd-section__item"><a>Hall</a></div>
                        <div class="vd-section__item"><a>Dining</a></div>
                    </div> -->
                </div>
            </div>
            <div class="vd-section__aside">
                 <div class="vd-vipics">
                    {% directory path: "{{ dataVP.path }}" exclude: private %}
                    {% if forloop.first %}
                    <div class="vd-vipics__block">
                        <div class="vd-vipics__header">
                            <div class="vd-vipics__title">Pictures ({{ forloop.length }})</div>
                            <div class="vd-vipics__nav">
                                <div class="vd-vipics__prev"><</div>
                                <div class="vd-vipics__next">></div>
                            </div>
                        </div>
                        <div class="vd-vipics__content">
                            <div class="vd-vipics__list">
                    {% endif %}
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure">
                                                {% if file.slug contains 'center' %}
                                                    <img src="{{ file.url }}" alt="{{ file.slug }}" style="top:-50%" />
                                                {% else %}
                                                    <img src="{{ file.url }}" alt="{{ file.slug }}"/>
                                                {% endif %}
                                            </div>
                                            <div class="vd-vipic__title">{{ file.slug | capitalize | replace: '-', ' ' | remove: 'center' | remove: 0 | remove: 1 | remove: 2 | remove: 3 | remove: 4 | remove: 5 | remove: 6 | remove: 7 | remove: 8 | remove: 9 }}</div>
                                        </div>
                                    </div>
                                </div>                                 
                    {% if forloop.last %}                               
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% enddirectory %}

                    <div class="vd-vipics__block">
                        <div class="vd-vipics__header">
                            <div class="vd-vipics__title">Videos</div>
                            <div class="vd-vipics__nav">
                                <div class="vd-vipics__prev"><</div>
                                <div class="vd-vipics__next">></div>
                            </div>
                        </div>
                        <div class="vd-vipics__content">
                            <!-- <div class="vd-vipics__list">
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img2.jpg"/></div>
                                            <div class="vd-vipic__title">Dive</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img3.jpg"/></div>
                                            <div class="vd-vipic__title">Done</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vd-vipics__item">
                                    <div class="vd-vipic">
                                        <div class="vd-vipic__container">
                                            <div class="vd-vipic__figure"><img src="assets/vipic/2018/april/engagement/img4.jpg"/></div>
                                            <div class="vd-vipic__title">Does</div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>