{$prew}{
	&{$container}{
	    max-width: $container_width;
	    padding-left: $container_gutter;
	    padding-right: $container_gutter
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    z-index: 89;
	    clearfix();
	}
	&clearfix{
	    clearfix();
	}
	&hr{
	    hr();
	}
	&tc{
		&--{
			&brand{
				color: $brand_text;
			}
		}
	}
	&img{
		max-width: 100%;
		height: auto;
	}
}