//------------------------------------------------------------------------------
//  selectors
//------------------------------------------------------------------------------

//homepage
$banner = "banner"

$product = "product"

//------------------------------------------------------------------------------
//  import
//------------------------------------------------------------------------------

//@import "layout"

@import "banner"

@import "product"