{$banner}{
    position: relative;
    &__{
        &cover{
            height: 600px;
            min-height: 88vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment fixed;
            position: relative;
            overflow: hidden;
        }
        &image{
            width: 100%;
            height: auto;
            max-width 100%;
            // max-height: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
        }
        &caption{
            position: absolute;
            // left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,.8);
            padding: 12px 24px;            
        }
    }
}