{$header}{
    &__{
        &brand{
            padding: 12px 20px;
            position: fixed;
            top: 0;
            // left: 0;
            right: 0;
            z-index: 8888;
            font-size: 24px;
            background-color: #28292e; // #009946;
            color: #fff;
        }
        &logo{
            &:after{
                    content: "";
                    display: inline-block;
                    width: 20px;
                    margin-left: 12px;
                    background-color: currentColor;
                    height: 2px;
                    border-radius: 4px;
                    vertical-align: middle;
                    box-shadow: 0 6px 0 currentColor, 0 -6px 0 currentColor;
                    /* width: 0; */
                    /* height: 0; */
                    /* border-left: 6px solid transparent; */
                    /* border-right: 6px solid transparent; */
                    /* border-top: 6px solid; */
            }
        }        
    }
}