{$container} {
	max-width: $container_width;
	padding: $container_gutter;
	margin: 0 auto;
}

{$section} {
    position: relative;
    padding: 120px 0;

    &__{
        &title{
           display: inline;
        }
    }
}