$pre 					= ".vd-"

$wrapper				= $pre+"wrapper"

$container 				= $pre+"container"

//header
$header					= $pre+"header"
$nav					= $pre+"nav"

//footer
$footer					= $pre+"footer"

//banner
$banner					= $pre+"banner"

//section
$section				= $pre+"section"
