{$prew}{$banner}{
    // min-height: 600px;
    position: relative;
    z-index: 9;
    // background: url(../images/wide/couple.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    // color: $color_white;
    font-weight: $weight_light;
    clearfix();

    a{
        color: inherit;
    }
    &__{
        &container{
            display: flex;
        }
        &thumb{
            line-height: 0;
        }
        &main{            
            flex: 1;
        }
        &content{
            padding: 40px;

            +mq(gt-md){
                padding: 80px;
            }
        }
        &title{
            font-size: $size_xl;
            line-height: 1.2;
            font-family: $family_serif;

            +mq(gt-md){
                font-size: 54px;
            }
        }
        &caption{
            color: $muted_text;
            font-size: $size_lg;
            margin-top: 24px;
            max-width: 400px;
        }
        &mark{
            font-size: 60px;

            +mq(gt-md){
                font-size: 120px;
                color: $brand_text;
            }
        }
    }
}