$headings = 'h1' $size_h1 $weight_light 16px,
            'h2' $size_h2 $weight_light 16px,
            'h3' $size_h3 $weight_light 16px,
            'h4' $size_h4 $weight_light 12px,
            'h5' $size_h5 $weight_normal 8px,
            'h6' $size_h6 $weight_normal 8px

for $value in $headings {
    {$value[0]}{
        font-size: $value[1];
        font-weight: $value[2];
        margin-bottom: $value[3];
        margin-top: 0;
    }
}
h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type),
h4:not(:first-of-type),
h5:not(:first-of-type),
h6:not(:first-of-type){
    margin-top: 24px;
}
p:not(:last-child){
    margin-bottom: 12px;
}

// Links
// ==========================================================================

// 1. Remove the gray background on active links in IE 10.

a {
    background-color: transparent; //1
    cursor: pointer;  
    text-decoration: none;
    color: $link_text;

    // Remove the outline on focused links when they are also active or hovered
    // in all browsers (opinionated).

    &:active,
    &:hover {
      color: $link_hover_text;
    }
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
    font-weight: $weight_bold;
}

// Add the correct font size in all browsers.

small {
    font-size: $size_sm;
}

address{
    font-style: normal;
}

// Lists
// ==========================================================================

ul,
ol{
    list-style-type: none;
    margin: 0;
}

dl{
    display: block;
    margin: 0;
}

dt{
    font-weight: $weight_bold;
}

// Table
// ==========================================================================

table{
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td{
    border-width: 0;
}

// Forms
// ==========================================================================

// Change font properties to `inherit` in all browsers (opinionated).

button,
input,
select,
textarea {
    font: inherit;
}

// Restore the font weight unset by the previous rule.

optgroup {
    font-weight: $weight_bold;
}

label{
    font-weight: $weight_normal;
    margin-bottom: 0;
}

// Show the overflow in IE.
// 1. Show the overflow in Edge.
// 2. Show the overflow in Edge, Firefox, and IE.

button,
input, // 1
select { // 2
    overflow: visible;
}

// Change the cursor in all browsers (opinionated).

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

// Restore the default cursor to disabled elements unset by the previous rule.

[disabled] {
    cursor: not-allowed;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
// 2. Correct the inability to style clickable types in iOS.

button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; // 2
}

// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}


// Remove the default vertical scrollbar in IE.

textarea {
    overflow: auto;
    resize: vertical;
}