{$header}{
	&__{
		&container{
			display: flex;
			justify-content: space-between;
		}
		&nav{

		}
		&brand{
			padding: 0 40px;
			line-height: 80px;
		}
	}
}
{$nav}{
	&__{
		&list{
			display: flex;
		}
		&item{
			padding: 0 24px;
			line-height: 80px;
		}
	}
}