{$wrapper}{

	&__{
		&container{
			padding: 48px;
			min-height: 100vh;			

			+mq(gt-lg){
				padding: 80px;
			}
		}
		&inner{
			background-color: $color_white;
			box-shadow: 2px 3px 8px rgba(0,0,0,.2);
			max-width: 1600px;
			margin: 0 auto;
		}
		&header{

		}
	}
}