$pre 					= ".vd-"

$wrapper				= $pre+"wrapper"

$container 				= $pre+"container"

//header
$header					= $pre+"header"
$nav					= $pre+"nav"

//footer
$footer					= $pre+"footer"


//wedding prefix
$prew 					= ".vdw-"

$wrapper				= $prew+"wrapper"

$container 				= $prew+"container"

//header
$header					= $prew+"header"
$nav					= $prew+"nav"

//footer
$footer					= $prew+"footer"