//------------------------------------------------------------------------------
//  color
//------------------------------------------------------------------------------
$color_white                   	= #ffffff    //white
$color_black                   	= #000000    //black

//  hyperlink
$link_text                    	= #fdb302    //blue
$link_hover_text              	= darken($link_text, 5%)

//brand
$brand_text                   	= #009946 //#12bf72    //greeen

//base
$base_text                     	= #333333	//black
$base_fill                     	= $color_white

//muted
$muted_text                   	= #666666    //gray

//sub
$sub_text                   	= #999999    //gray

//------------------------------------------------------------------------------
//  font-family
//------------------------------------------------------------------------------
$family_sans          			= -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Helvetica Neue, Helvetica, sans-serif
$family_serif               	= Georgia, Cambria, Times New Roman, Times, serif
$family_mono	            	= Menlo, Monaco, Consolas, Courier New, monospace

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$size_xs                     	= 10px
$size_sm                     	= 12px
$size_st                     	= 14px
$size_md                    	= 18px
$size_lg                     	= 24px
$size_xl                     	= 32px

//------------------------------------------------------------------------------
//  font-weight
//------------------------------------------------------------------------------
$weight_light					= 300;
$weight_normal					= 500;
$weight_bold					= 600;
$weight_bolder					= 700;

//------------------------------------------------------------------------------
//  heading
//------------------------------------------------------------------------------
//font-size
$size_h1                     	= $size_xl
$size_h2                     	= $size_lg
$size_h3                     	= $size_md
$size_h4                     	= $size_st
$size_h5                     	= $size_sm
$size_h6                     	= $size_xs

//------------------------------------------------------------------------------
//  base
//------------------------------------------------------------------------------
$base_family                   	= $family_sans
$base_size                     	= $size_md
$base_lh              			= 1.4

//------------------------------------------------------------------------------
//container
//------------------------------------------------------------------------------
$container_gutter			 	= 24px
$container_inner				= 1000px
$container_width				= $container_inner + ($container_gutter * 2)

