<!DOCTYPE html>
<html>
    <head>
        {% include basic/meta.html %}        
    </head>
    <body>
        <div class="vd-wrapper">
            <div class="vd-wrapper__container">
                <div class="vd-wrapper__inner">
                    <div class="vd-wrapper__header">
                        
                    </div>
                    <div class="vd-wrapper__content">
                        
                    </div>                    
                </div>
            </div>
        </div>
        
        <!-- javascript -->
        {% include basic/js.html %}
        <!-- svg -->
        <!-- {% include basic/svg.html %} -->
    </body>
</html>
