<!DOCTYPE html>
<html>
    <head>
        {% include basic/meta.html %}
    </head>
    <body>
        <div class="vd-wrapper">
            <div class="vd-wrapper__container">
                <div class="vd-wrapper__inner">
                    <div class="vd-wrapper__header">
                        {% include wedding/header.html %}
                    </div>
                    <div class="vd-wrapper__content">
                        <!-- invite -->
                        {% include wedding/invite.html %}
                        <!-- bride -->
                        {% include wedding/bride.html %}
                        <!-- groom -->
                        {% include wedding/groom.html %}
                        <!-- venue -->
                        {% include wedding/venue.html %}
                        
                        <!-- gallery -->
                        {% include wedding/rsvp.html %}
                    </div>
                    <!-- footer -->
                    {% include default/footer.html %}
                </div>
            </div>
        </div>

        <!-- menu -->
        {% include default/menu.html %}
        <!-- javascript -->
        {% include basic/js.html %}
        <!-- svg -->
        {% include basic/svg.html %}
    </body>
</html>
