<!DOCTYPE html>
<html>
    <head>
        {% include basic/meta.html %}
    </head>
    <body>
        <div class="vd-wrapper">
            <div class="vd-wrapper__container">
                <div class="vd-wrapper__inner">
                    <div class="vd-wrapper__header">
                        {% include wedding/header.html %}
                    </div>
                    <div class="vd-wrapper__content">

                        <div class="vd-banner vd-spacer" id="invite" data-menu-title="Invite">
                            <div class="vd-banner__block">
                                <div class="vd-banner__thumb">
                                    <img src="/assets/images/couple/couple.jpg" class="vd-img">
                                </div>
                                <div class="vd-banner__main">
                                    <div class="vd-banner__content">
                                        <div class="vd-banner__title">Invite to our<br> wedding celebration</div>
                                        <div class="vd-banner__mark">17 June</div>
                                        <span class="vd-banner__disp">6:30 AM</span>
                                        <div class="vd-banner__caption">Reception <strong class="vd-banner__disp">16 June</strong> &nbsp; 6:30 PM</div>
                                        <div class="vd-banner__caption">We are so excited to be spending this special time with friends and family we hold so dear to our hearts.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vd-couple vd-bride vd-spacer" id="bride" data-menu-title="Bride">
                            <div class="vd-couple__container">
                                <div class="vd-couple__block">
                                    <div class="vd-couple__aside">
                                        <div class="vd-couple__thumb">
                                            <div class="vd-couple__figure"><img src="assets/images/couple/bride.jpg"/></div>
                                        </div>
                                    </div>
                                    <div class="vd-couple__main">
                                        <div class="vd-couple__title">The Bride</div>
                                        <ul class="vd-couple__list">
                                            <li>My biggest goal in life is to not be annoying about being a bride</li>
                                            <li>When you look for the right person, you always end up with the wrong one. But when you just sit by the corner and wait, he comes along and shares the corner with you</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vd-couple vd-groom vd-spacer" id="groom" data-menu-title="Groom">
                            <div class="vd-couple__container">
                                <div class="vd-couple__block">
                                    <div class="vd-couple__aside">
                                        <div class="vd-couple__thumb">
                                            <div class="vd-couple__figure"><img src="assets/images/couple/groom4.jpg"/></div>
                                        </div>
                                    </div>
                                    <div class="vd-couple__main">
                                        <div class="vd-couple__title">The Groom</div>
                                        <ul class="vd-couple__list">
                                            <li>As a kid, I wasn't sure that I would ever get married - I was not the kind of little boy who played at being a groom</li>
                                            <li>I don't wish to be everything to everyone, but I would like to be something to someone</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vd-section vd-spacer" id="venue" data-menu-title="Venue">
                            <div class="vd-section__header">
                                <div class="vd-section__headline">Venue</div>
                                <div class="vd-section__desc">H.M.K MAHAL<br>Pananguppam<br> Pondy - Viluppuram Road</div>
                            </div>
                            <div class="vd-venue">
                                <div class="vd-venue__block">
                                    <div class="vd-venue__main">
                                        <div class="vd-venue__locate">
                                            <iframe class="vd-venue__gmap" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIBuOuYHTsMpvHqkOtVe6kczfhfZCB6gU&q=H.M.K+MAHAL,+Pananguppam,+Tamil+Nadu+605108" allowfullscreen></iframe>
                                            <div class="vd-venue__thumbs">
                                                <div class="vd-venue__thumb">
                                                    <div class="vd-venue__figure">
                                                        <img src="assets/images/hall/hall2.jpg"/>
                                                    </div>
                                                    <div>Entrance</div>
                                                </div>
                                                <div class="vd-venue__thumb">
                                                    <div class="vd-venue__figure">
                                                        <img src="assets/images/hall/hall1.jpg"/>
                                                    </div>
                                                    <div>Reception</div>
                                                </div>
                                                <div class="vd-venue__thumb">
                                                    <div class="vd-venue__figure">
                                                        <img src="assets/images/hall/hall3.jpg"/>
                                                    </div>
                                                    <div>Parking</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vd-venue__aside">
                                        <div class="vd-venue__paper">
                                            <div class="vd-venue__title">Marriage Hall</div>
                                            <div class="vd-venue__caption">Scan on mobile</div>
                                            <img src="assets/images/hall/barcode.png" width="200" />
                                            <div class="vd-venue__caption">Share: <a target="_blank" href="https://goo.gl/maps/ioYF6uRg12z"><u>https://goo.gl/maps/ioYF6uRg12z</u></a></div>
                                            <div class="vd-venue__caption">Receive: <a href="tel:8939560533"><u>8939 5605 33</u></a>, <a href="tel:9487801001"><u>94 8780 1001</u></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- vipic -->
                        {% include default/vipic.html %}
                        <div class="vd-section vd-spacer"  id="gallery" data-menu-title="Gallery">
                            <div class="vd-section__header">
                                <div class="vd-section__headline">Gallery</div>
                                <div class="vd-section__desc">Videos and Pictures of our life events</div>
                            </div>
                            <div class="vd-section__content">
                                <div class="vd-gallerys">
                                    <div class="vd-gallerys__item">
                                        <div class="vd-gallery">
                                            <div class="vd-gallery__title">Dive</div>
                                        </div>
                                    </div>
                                    <div class="vd-gallerys__item">
                                        <div class="vd-gallery">
                                            <div class="vd-gallery__title">Done</div>
                                        </div>
                                    </div>
                                    <div class="vd-gallerys__item">
                                        <div class="vd-gallery">
                                            <div class="vd-gallery__title">Does</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer -->
                    {% include default/footer.html %}
                </div>
            </div>
        </div>

        <!-- menu -->
        {% include default/menu.html %}
        <!-- javascript -->
        {% include basic/js.html %}
        <!-- svg -->
        {% include basic/svg.html %}
    </body>
</html>
