<div class="vdw-couple vdw-bride vdw-spacer" id="bride" data-menu-title="Bride">
    <div class="vdw-couple__container">
        <div class="vdw-couple__block">
            <div class="vdw-couple__aside">
                <div class="vdw-couple__thumb">
                    <div class="vdw-couple__figure"><img src="{{site.baseurl}}assets/images/wedding/couple/bride.jpg"/></div>
                </div>
            </div>
            <div class="vdw-couple__main">
                <div class="vdw-couple__title">The Bride</div>
                <ul class="vdw-couple__list">
                    <li>My biggest goal in life is to not be annoying about being a bride</li>
                    <li>When you look for the right person, you always end up with the wrong one. But when you just sit by the corner and wait, he comes along and shares the corner with you</li>
                </ul>
            </div>
        </div>
    </div>
</div>