<div class="vd-section vd-spacer"  id="gallery" data-menu-title="Gallery">
    <div class="vd-section__header">
        <div class="vd-section__headline">Gallery</div>
        <div class="vd-section__desc">Videos and Pictures of our life events</div>
    </div>
    <div class="vd-section__content">
        <div class="vd-gallerys">
            <div class="vd-gallerys__item">
                <div class="vd-gallery">
                    <div class="vd-gallery__title">Dive</div>
                </div>
            </div>
            <div class="vd-gallerys__item">
                <div class="vd-gallery">
                    <div class="vd-gallery__title">Done</div>
                </div>
            </div>
            <div class="vd-gallerys__item">
                <div class="vd-gallery">
                    <div class="vd-gallery__title">Does</div>
                </div>
            </div>
        </div>
    </div>
</div>