<div class="vd-couple vd-groom vd-spacer" id="groom" data-menu-title="Groom">
    <div class="vd-couple__container">
        <div class="vd-couple__block">
            <div class="vd-couple__aside">
                <div class="vd-couple__thumb">
                    <div class="vd-couple__figure"><img src="assets/images/couple/groom4.jpg"/></div>
                </div>
            </div>
            <div class="vd-couple__main">
                <div class="vd-couple__title">The Groom</div>
                <ul class="vd-couple__list">
                    <li>As a kid, I wasn't sure that I would ever get married - I was not the kind of little boy who played at being a groom</li>
                    <li>I don't wish to be everything to everyone, but I would like to be something to someone</li>
                </ul>
            </div>
        </div>
    </div>
</div>