<div class="vd-invite vd-spacer" id="invite" data-menu-title="Invite">
    <div class="vd-invite__block">
        <div class="vd-invite__thumb">
            <img src="/assets/images/couple/couple.jpg" class="vd-img">
        </div>
        <div class="vd-invite__main">
            <div class="vd-invite__content">
                <div class="vd-invite__title">Invite to our<br> wedding celebration</div>
                <div class="vd-invite__mark">17 June</div>
                <span class="vd-invite__disp">6:30 AM</span>
                <div class="vd-invite__caption">Reception <strong class="vd-invite__disp">16 June</strong> &nbsp; 6:30 PM</div>
                <div class="vd-invite__caption">We are so excited to be spending this special time with friends and family we hold so dear to our hearts.</div>
            </div>
        </div>
    </div>
</div>