<div class="vdw-menu" id="menu">
    <div class="vdw-menu__container">
        <div class="vdw-menu__control">
            <div class="vdw-menu__label" data-menu-label="true">Wedding</div>
        </div>
        <div class="vdw-menu__main">
            <div class="vdw-menu__list">
                <a class="vdw-menu__item vdw-menu__item--active" href="#wedding" data-menu-item="wedding">Wedding</a>
                <a class="vdw-menu__item" href="#invite" data-menu-item="invite">Invite</a>
                <a class="vdw-menu__item" href="#bride" data-menu-item="bride">Bride</a>
                <a class="vdw-menu__item" href="#groom" data-menu-item="groom">Groom</a>
                <a class="vdw-menu__item" href="#venue" data-menu-item="venue">Venue</a>
                <!-- <a class="vdw-menu__item" href="#vipic" data-menu-item="vipic">Videos & Pics</a> -->
                <a class="vdw-menu__item" href="#rsvp" data-menu-item="rsvp">RSVP</a>
            </div>
        </div>
    </div>
</div>