
//===============================================================
// variable
//===============================================================
//font-size
$siz_xl = 120px
$siz_lg = 80px
$siz_md = 56px
$siz_st = 48px

//font-weight
$wit_light = 200

$shadow = 2px 4px 8px rgba(0,0,0,.12)

//===============================================================
// mixin
//===============================================================
title(){
	font-size: $size_lg;
	line-height: 1.2;

	+mq(gt-md){
		font-size: $siz_md;
		font-size: 3.2vw;
		font-weight: $wit_light;
	}
}

//===============================================================
// selector
//===============================================================
$spacer 		= $pre+"spacer"
$banner 		= $pre+"banner"
$section 		= $pre+"section"
$gallery 		= $pre+"gallery"
$footer 		= $pre+"footer"
$menu 			= $pre+"menu"

//===============================================================
// rules
//===============================================================
html,body{
	background-color: #28292e;
	color: $color_white;
	font-weight: $wit_light;

	+mq(gt-xl){
		font-size: 1vw;
	}
}
a{
	color: $brand_text;
}
{$container}{
	max-width: $container_width;
	padding: $container_gutter;
	margin: 0 auto;
}
{$wrapper}{
	&__{
		&container{
			// padding: 24px;
		}
	}
}
{$spacer}{
	padding: 40px 0;

	+mq(gt-md){
		padding: 80px 0;
	}
}
{$header}{
	padding: 32px;
	text-align: center;

	+mq(gt-md){
		padding: 80px 40px;
	}
	&__{
		&groom,
		&bride{
			font-size: $size_xl;
			font-weight: $weight_bolder;
			// text-transform: uppercase;
			// font-family: $family_serif;

			+mq(gt-md){
				letter-spacing: 2px;
				font-size: $siz_xl;
			}
			+mq(gt-xl){
				font-size: 7.2vw;
			}
		}
		&weds{
			color: $brand_text;
			font-size: 24px;

			+mq(gt-xl){
				font-size: 2vw;
			}
		}
	}
}

{$banner}{
	&__{
		&container{
			padding: 40px 0;

			+mq(gt-md){
				padding: 80px 0;
			}
		}
		&thumb{
			margin: 0 auto;
			text-align: center;
			line-height: 0;
			position: relative;
			z-index: 1;
			box-shadow: $shadow;

			+mq(gt-md){
				max-width: 50%;
			}
			img{
				max-width: 100%;
				height: auto;
			}
		}
		&main{
			padding: 40px 80px;
			// margin: 0 auto;
			// transform: translateY(-70%);
			box-shadow: $shadow;
			position: relative;
			// z-index: 1;

			background-color: $brand_text;

			+mq(gt-md){
				max-width: 50%;
				padding: 80px 120px;
				margin-top: -360px;
			}
		}
		&content{
			position: relative;
			z-index: 11;
		}
		&title{
			title();
		}
		&alpha{
			opacity: .8;
		}
		&caption{
			opacity: .8;
			margin-top: 16px;
			max-width: 360px;
			max-width: 20vw;
		}
		&mark{
			font-size: $siz_lg;
			font-weight: $weight_bolder;

			+mq(gt-md){
				font-size: $siz_xl;
			}
			+mq(gt-xl){
				font-size: 7.2vw;
			}
		}
	}
}

{$section}{

	&__{
		&container{

		}
		&title{
			title();
			text-align: center;
		}
	}
}

{$gallery}{
	&s{
		display: flex;
		justify-content: space-between;
		margin-left: -24px;

		&__item{
			padding-left: 24px;
			flex: 1;
		}
	}
	&{
		padding: 24px;
		// background-color: $brand_text;
		background-color: $color_white;
		box-shadow: $shadow;
		color: $base_text;
	}
}

{$footer}{
	padding: 40px 0;
	color: $muted_text;

	&__{
		&container{
			display: flex;
			justify-content: space-between;
		}
		&nav{

		}
		&item{
			color: $muted_text;
		}
		&brand{
			max-width: 50%;
			display: flex;
		}
		&logo{
			color: $brand_text;
			font-size: $size_xl;
			margin-right: 40px;
			font-weight: $weight_bolder;
		}
		&caption{
			color: $muted_text;
		}
	}
}

{$menu}{
	font-size: $size_sm;
	
	&__{
		&container{
			position: fixed;
			right: 32px;
			top: @right;
		}
		&label{
			position: relative;
			z-index: 10;
			cursor: pointer;
			// padding: 8px 16px;			
			// box-shadow: $shadow;
			// background-color: $base_text;

			&:after{
				content: "";
				width: 20px;
				height: 2px;
				color: $brand_text;
				background-color: currentColor;
				display: block;
				margin-left: auto;
				margin-top: 4px;
				
				^[-1]:hover:after,
				^[0]--active &{
					box-shadow: 0px 6px 0 currentColor, 0px 12px 0 currentColor;	
				}
			}
		}
		&value{			
			min-height: 20px;
		}
		&main{
			position: absolute;
			top: -16px;
		    right: @top;		    
			background-color: $base_text;
			box-shadow: $shadow;			
		    padding-top: 60px;
		    min-width: 200px;
		    display: none;
		    
		    ^[0]--active &{
		    	display: block;
		    }
		}
		&list{
			padding: 8px 0;
		}
		&item{
			display: block;
			padding: 8px 16px;
			text-align: right;
			
			&:hover{
				background-color: $brand_text;
				color: $color_white;
			}
		}
	}	
}